<div class="screen LoginLayout" style="display: none;" data-bind="css: {'with_bottom_text': sBottomInfoHtmlText !== ''}">
	<div class="login_panel login">
		<div data-bind="simpleTemplate: {}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>

		<div data-bind="simpleTemplate: {}">

			<script>
				jQuery(document).ready(function(){
					console.log('JS is working here!');

});
			
			</script>
		</div>
		<div class="login_panel_content" style="backface-visibility: inherit;">
			<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
				<img  class="icon" class="img_logo" data-bind="attr: {'src': './kugeza.png'}"/>

				<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_LOGIN'}"></span>
			</div>
			<div class="form-group_main">
			<div class="signup-form">
				<form>
					<h4 class="register_class"
					data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER'}"

					></h4>
					<div class="form-group">
						<label for="Name"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_NAME'}"

						></label>
						<input type="text" 
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_NAME', 'type': 'placeholder'}"
						class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Enter name">
					
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_EMAIL'}"

						></label>
						<input type="email"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_EMAIL', 'type': 'placeholder'}"

						class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						<p class="email_label">lable action is prespen lable action is prespen lable action is prespen lable action is prespen</p>

					</div>
					<div class="form-group">
						<label for="exampleInputEmail1"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_CONTACT'}"

						></label>
						<input type="text"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_CONTACT', 'type': 'placeholder'}"

						class="form-control" id="exampleInputEmailName1" aria-describedby="emailHelp" placeholder="Enter Contact no">
					</div>
					<div class="form-group">
						<label
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_PASSWORD'}"

						for="exampleInputPassword1"></label>
						<input type="password" 
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_PASSWORD', 'type': 'placeholder'}"

						class="form-control" id="exampleInputPassword1" placeholder="Password">
						<p class="password_label">lable action is prespen lable action is prespen lable action is prespen lable action is prespen</p>

					</div>
					<div class="form-group">
						<label for="exampleInputPassword1"
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_CONFIRM_PASSWORD'}"

						>Confirm Password</label>
						<input type="password" 
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER_CONFIRM_PASSWORD', 'type': 'placeholder'}"

						class="form-control" id="exampleInputPassword11" placeholder="Confirm Password">
					</div>
					<div class="row buttons">
						<button type="submit" tabindex="5" class="button login" 
						data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REGISTER'}"

						></button>
					</div>
					</form>
			</div>
				
			<div class="content login clearfix">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" data-bind="command: loginCommand">
					<div class="form-heading">
					<h4 class="login_class"
					data-bind="text: signInButtonText, command: loginCommand"
					></h4>
					<p class="login_rser">(reisert)</p>
				</div>

					<div class="fieldset">
						<label for="email">Login Email</label>

						<div class="row login" data-bind="css: {'focused': loginFocus(), 'filled': login().length > 0, shake: shake()}">
						<label for="login_login 2" class="placeholder"></label>
							<span class="value">
								<input id="login_login" tabindex="1" class="input" name="login" type="text" spellcheck="false"
									   data-bind="value: login, hasfocus: loginFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN', 'type': 'placeholder'}, initDom: loginDom" />
							</span>
						</div>
						<label for="email">Login Password</label>
						<div class="row password" data-bind="css: {'focused': passwordFocus(), 'filled': password().length > 0, shake: shake()}">
							<label for="login_password" class="placeholder"></label>
							<span class="value">
								<input id="login_password" tabindex="3" class="input" name="password" type="password" spellcheck="false"
									   data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD', 'type': 'placeholder'}, initDom: passwordDom" />
							</span>
						</div>
					</div>
					{%INCLUDE-START/Login-Before-Submit-Button/INCLUDE-END%}
					<!-- ko foreach: beforeButtonsControllers -->
						<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
					<!-- /ko -->
					<div class="row buttons">
						<button type="submit" tabindex="5" class="button login" data-bind="text: signInButtonText, command: loginCommand"></button>
					</div>
					<div class="row signme" data-bind="visible: bUseSignMe">
						<span>
							<label class="custom_checkbox" data-bind="css: {'checked': signMe, 'focus': signMeFocused}">
								<span class="icon"></span>
								<input id="signme" tabindex="4" type="checkbox" data-bind="checked: signMe, hasfocus: signMeFocused" />
							</label>
							<label class="signme_label" for="signme" data-bind="i18n: {'key': '%MODULENAME%/LABEL_REMEMBER_ME'}"></label>
						</span>
					</div>
					{%INCLUDE-START/Login-After/INCLUDE-END%}
				</form>
				<div class="clear"></div>
			</div>
		</div>
			
			<!--{%INCLUDE-START/Login-Before-Description/INCLUDE-END%}-->
			<div class="description" data-bind="visible: sInfoText !== '', html: sInfoText"></div>
			<!--{%INCLUDE-START/Login-After-Description/INCLUDE-END%}-->
			<div class="clear"></div>
			
			<div class="languages demo" data-bind="visible: bAllowChangeLanguage && !bUseDropdownLanguagesView">
				<div class="langs_heading" data-bind="text: headingSelectLanguage"></div>
				<div data-bind="foreach: aLanguages">
					<span class="item" data-bind="css: value + ($parent.currentLanguage() === value ? ' selected' : ''), click: function () { $parent.changeLanguage(value); }">
						<span class="item_content">
							<span class="icon"></span>
							<span class="text" data-bind="text: name"></span>
						</span>
					</span>
				</div>
			</div>
		</div>
		
		<div class="languages" data-bind="visible: bAllowChangeLanguage && bUseDropdownLanguagesView">
			<span class="custom_selector right" data-bind="dropdown: {'control': false}">
				<span class="name" data-bind="css: currentLanguage">
					<span class="icon"></span>
					<span class="text" data-bind="text: currentLanguage"></span>
				</span>
				<span class="control">
					<span class="icon"></span>
				</span>
				<span class="dropdown">
					<span class="dropdown_helper">
						<span class="dropdown_arrow"><span></span></span>
						<span class="dropdown_content" data-bind="foreach: aLanguages">
							<span class="item" data-bind="css: value + ($parent.currentLanguage() === value ? ' selected' : ''), click: function () { $parent.changeLanguage(value); }">
								<span class="icon"></span>
								<span class="text" data-bind="text: name"></span>
							</span>
						</span>
					</span>
				</span>
			</span>
		</div>
	</div>

	
	<div class="vhelper"></div>
	<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
	<!--{%INCLUDE-START/Login-Footer/INCLUDE-END%}-->
</div>
